body {
  color: #494949;
  font-size: 18px;
  line-height: 1.6;
  font-weight: lighter;
  font-family: 'Lora', serif;
  margin: 0;
}
h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: purple;
}
h2 {
  color: #7a7a7a;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: #1035ec;
}

/* Custom design */
.banner {
  background-image: url("https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3570&q=80");
  background-size: cover;
  color: white;
  padding: 120px 0;
}
.banner h1 {
  font-size: 40px;
}
.banner p {
  font-size: 30px;
  font-style: italic;
  font-weight: lighter;
  opacity: 0.9;
}
.container {
  width: 700px;
  margin: 50px auto;
}
.link-medium {
  background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
  color: #636363;
  font-weight: lighter;
  font-size: 25px;
  font-style: italic;
}
.link-medium:hover {
  background-image: linear-gradient(to bottom, rgb(247, 0, 255), rgb(255, 255, 255));}


/* Media queries */
@media(max-width: 900px) {
  .container {
    width: 700px;
  }
}
@media(max-width: 750px) {
  .container {
    width: 450px;
  }
}
@media(max-width: 500px) {
  .container {
    width: 350px;
  }
  .banner {
    padding: 50px 0;
  }
  .banner h1 {
    font-size: 30px;
  }
  .banner p {
    font-size: 20px;
  }
}
